/* 
    Created on : 23.12.2018, 23:34:22
    Author     : Игорь
*/

* {
    margin: 0;
    padding: 0;
}

body {
    font: 1em/1.4 Helvetica, sans-serif;
    min-width: 240px;    
    text-align: center;    
}

a:hover {
    background: #aaaaaa;
    color: #ffffff;
}

h2 {
    margin: 1em 0 0.5em;
}

/*Центрирование контента по вертикали и горизонтали*/
.content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 
    Шапка с логотипом и меню
*/
#header {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #aaaaaa;
    height: 4em;    
}

#logo {
    margin-left: 1em;
    margin-right: 1em;
    font-family: serif;
    font-size: 2.5em;
    text-decoration: none;
    color: #000000;
    text-shadow: 1px 1px 0px #ffffff, 2px 2px 0px #000000;    
}

nav ul {
    display: flex;
    list-style-type: none;
    margin-right: 1em;    
}

nav ul li {
    margin: 1em;
}

nav a {
    text-decoration: none;
    color: #000000;
}
/* Шапка с логотипом и меню КОНЕЦ */


/* 
    Основное содержимое
*/
main {        
}

/* 
    Секция приветствия
*/
#welcome-section {
    height: 100vh;
    padding: 0 1em;
}

h1 {
    margin-bottom: 0.5em;
}
/* Секция приветствия КОНЕЦ */

/* 
    Секция проектов
*/
.projects {
    padding: 0 1em;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1em;
}

.project-tile {
    margin-bottom: 3em;
    text-decoration: none;
    background: #cccccc;
    color: #000000;
}
.project-tile p {
    margin-bottom: 1em;
}

img {
    width: 100%;    
}
/* Секция проектов КОНЕЦ */

/* 
    Секция контакты
*/
#profiles {
    min-height: 50vh;    
    background: #999999;       
}

#profiles address {    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 4em;
}

#profiles a {    
    padding: 1em;
    margin-bottom: 1em;
    border: #000000 solid 1px;
    border-radius: 2em;        
}


/* Секция контакты КОНЕЦ */
/* Основное содержимое КОНЕЦ */

/* 
    Подвал 
*/
footer {
    height: 5em;
    background: #000000;
    color: #ffffff
}

/* Подвал КОНЕЦ*/

/* 
* МЕДИАЗАПРОСЫ 
*/
@media (max-width: 643px) {
    #header {
        position: static;
        flex-direction: column;
        height: 8em;
    }

    nav ul {        
        margin-right: 0;
    }

    main {        
        margin-top: 1em;
    }
}

@media (max-width: 324px) {    

    nav ul {
        flex-direction: column;
    }   

    nav ul li {
        margin: 0;
    }
}





